@import '../../utils/mixins';

.main {
        width: 100vw;
        overflow: scroll;
        display: flex;
        flex-direction: column;

    &_authModal {
        
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: $colorSecond;
        flex-direction: column;

        &--displayOn {
            display: flex;
        }
        &--displayOff {
            display: none;
        }

        &_button {
            height: 25px;
            width: 300px;
            margin-top: 15px;
            background-color: white;
            
            border: none;
        }

        &_textError {
            margin: 15px auto 0 auto;
            color: grey;
            animation: appear 1s ease forwards;

        }
    }
    
    &_img {
        width: 20%;
        display: flex;
        margin: 33px auto;
        object-fit: contain;
    }
    &_date {
        width: 20%;
        display: flex;
        margin: 33px auto;
        justify-content: center;
        font-size: 22px;
    }

    &_title {
        width: 20%;
        display: flex;
        margin: 33px auto;
        justify-content: center;
        font-size: 29px;
    }

    &_genButton, &_csvButton {
        width: $mainWidth;
        border: none;
        margin: 9px auto;
        background-color: rgb(255, 222, 222);
        height: 25px;
        &:hover {
            cursor: pointer;
            background-color: rgb(190, 255, 233);
        }

        &--loadSales {
            width: 20%;
        }
    }

    &_loader {

        &--displayOn {
            display: flex;
            z-index: 2;
        }

        &--displayOff {
            display: none;
        }
    }

    &_alertText {
        margin: 120px auto;

    }

    &_totalResults {
        margin: 54px auto 0px auto;
        width: $mainWidth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &--strong {
            
        }
    }
}