@import '../../utils/mixins';

.salesList {
    width: $mainWidth;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    margin: 45px auto;
    list-style-type: none;

    &_item {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 30px;
        flex-direction: row;

        &--bold {
            font-weight: bold;
        }

        p {
            font-size: 12px;
            width: 8%;
        }
    }
}